body{
	width: 100%;
	margin: 0 auto; 
	font-family: 'Montserrat', sans-serif;
}
.container{
  width: 1280px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
/*newsletter*/
footer .contenedor-fondo{
	background-color: #a25b0d;
	float: left;
	width: 100%;
}
footer .titulo-news{
	/* line-height: 0px; */
	font-weight: 800;
	width: 100%;
	display: inline-block;
	letter-spacing: 0px;
	color: white;
	font-size: 12px;
	margin-top: 30px;
}
footer .newsletter .btn{
	background-color: #000000;
	border: 1px solid #000000;
	height: 32px;
	float: left;
}
footer .newsletter .email{
	height: 30px;
	width: 259px;
	border: none;
	color:#b5b5b7;
	float: left;
	text-indent: 14px;
}
footer .newsletter-dos{
	line-height: 70px;
	display: inline-block;
	margin-bottom: 15px;
}
/*iconos*/
footer .fa.iconos{
	font-size: 22px;
    width: 4%;
}
footer .fa.sobre{
	color: #ffffff;
}
/*columnas*/
footer .rows{
	display: block;
	text-align: center;
}
footer .columnas{
	display: inline-block;
    width: 24%;
    padding-top: 40px;
}
footer .rows .columnas span{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
footer a{
	text-decoration: none;
	color: #000000;
}
/*imagenes*/
footer .columna-dos{
	display: inline-block;
    padding-top: 95px;
}
/*pie*/
footer .contenedor-fondo-pie{
	background-color: #000000;
	height: 26px;
}
footer .contenedor-fondo-pie span:after{
	content: "\f0c2";
	font: normal normal normal 14px/1 FontAwesome;
 	padding-left: 5px;
 	font-size: 24px;
 	color: white;
 	float: right;
 	width: 10%;
}
footer .contenedor-fondo-pie .titulo-pie{
	color: white;
	font-size: 10px;
	font-weight: 500;
	padding-left: 90px;

}
body {
    display: block;
    margin: 0px;
}
.img-principal{
	width: 100%;
}
.producto{
	display: inline-block;
	float: left;
	width:25%;
}
.productos{
	margin: 20px 0px 20px 0px;
	float: left;
    width: 100%;
}
.productos-nuevo{
	margin: 20px 0px;
	float: left;
	width: 75%;
}
.producto p{
	font-weight: 700;
	text-transform: uppercase;
}
.precio{
	color: #a25b0d;
    display: inline-block;
}
.container.producto-grilla .desplegable-dos{
  	font-size: 12px;
    border:0px;
    border-radius: 0;
    cursor: pointer;
    padding: 0 10px;
    font-family:  'Montserrat', sans-serif;
}
}
.row{
	display: block;
}
.columnas{
	display: inline-block;
}
.columna-uno{
	width: 25%;
	float: left;
}
.orden{
	float: right;
}
.producto-grilla .lista-uno{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: initial;
}
.producto-grilla .lista-uno li{
	list-style: none;
	text-align: initial;
	font-size: 13px;
	line-height: 17px;
	padding-top: 8px;
}
.producto-grilla .lista-uno span:after{
	content: "\f107";
	font: normal normal normal 14px/1 FontAwesome;
 	padding-left: 5px;
 	font-size: 15px;
 	float: right;
 	width: 10%;
}
.producto-grilla .lista-uno span{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	text-align: initial;
}
.producto-grilla .lista-dos li{
 	color: #adabab;
    font-weight: 700;
    line-height: 31px;
}
.producto-grilla .productos-nuevo button{
	background-color: #a25b0d;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    width: 70%;
    border: 1px solid #a25b0d;
    height: 40px;
    border-radius: 2px;
}
.producto-grilla .plus{
	padding-right: 6px;
    padding-left: 6px;
    font-size: 10px;
    color: #dbdbdb;
}
ul{
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

header{
	float: left;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

header .container{
	width: 1280px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.general{
	background-color: #000;
}

	/*Inicial*/
header .inicial{
	float: left;
	width: 100%;
	background-color: #000;
}

header .social{
	width: 33%;
	display: inline-block;
}

header .social{
	float: left;
}

header .social .iconos{
	float: left;
	color: #fff;
	margin: 10px 8px;
}

header .content-social{
	margin-left: 20px;
}

header .content-login{
	margin-right: 20px;
}

header .info-inicial{
	float: left;
	width: 33%;
	display: inline-block;
	color: #fff;
}

header .info-inicial span{
	line-height: 36px;
	font-size: 10px;
}

header .info-inicial img{
	margin-bottom: -6px;
	margin-left: 12px;
}

header .camion{
	display: inline-block;
}

header .login{
	float: left;
	width: 33%;
	display: inline-block;
}

header .sub-login{
	display: inline-block;
	font-size: 10px;
	line-height: 36px;
	float: right;
}
 header .sub-login a{
 	color: #fff;
 }

 header .sub-login a:hover{
 	font-weight: bold;
 }


header .login ul{
	float: right;
	display: block;
}

header .login ul li{
	padding: 0 12px;
	display: inline-block;
}

header .login ul .borde a{
    border-right: 1px solid;
    padding: 2px;
    padding-right: 28px;
}

	/*Segunda*/
header .contenedor{
	width: 100%;
	text-align: center;
	float: right;
	display: block;
	padding-top: 10px;
}

	/*Nav*/
header .sub-nav{
	display: inline-block;
	padding: 14px;
	font-size: 11px;
	color: #000;
	font-weight: bold;
}

header .sub-nav:hover{
	background-color: #000;
	color: #fff;
}

.secciones{
	margin: 20px 0px 20px 0px;
	float: left;
    width: 100%;
}

.precio-ant{
	display: inline-block;
	margin-left: 15px;
    color: rgba(170, 171, 172, 1);
    text-decoration: line-through;
}

.btn-comprar{
    display: block;
    margin: auto;
    background-color: #a25b0d;
    color: white;
    text-transform: uppercase;
    border: 0px;
    line-height: 38px;
    font-weight: 700;
    padding: 1px 48px;
    border-radius: 3px;
}

.secciones img{
	width: 25%;
    float: left;
    height: fit-content;
}
.facilidades{
	float: left;
	width: 100%;
	background-color: rgb(248,246,247);
	padding: 40px 0 40px 0;
	margin: 10px 0 40px 0;
}

.facilidad{
	display: inline-block;
	width: 16%;
	border-right: 1px solid rgb(150, 148, 149);
}

.facilidad img{
	line-height: 5px;
}

.imagenes{
	width: 100%;
}

.facilidad p{
	margin-bottom: 15px;
	text-transform: uppercase;
	color: rgb(150, 148, 149);
	font-size: 11px;
}

.imagenes p:nth-child(2){
	margin-top: 0px
}

.imagenes p:nth-child(1){
	margin-bottom: 3px
}

footer{
	width: 100%;
    float: left;
}

.seccion{
	width: 100%
}

.seccion:hover{
	opacity: 0.6;
}

.facilidad:nth-last-child(1){
	border-right: 0;
}

.news{
	/* display: inline-block; */
	/* line-height: 35px; */
	font-weight: 500;
	width: 100%;
	display: inline-block;
	letter-spacing: 0px;
	color: white;
	font-size: 9px;
	margin-bottom: 15px;
}