
footer{
	width: 100%;
	margin: 0 auto; 
	font-family: 'Montserrat', sans-serif;
}
.container{
  width: 1280px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
/*newsletter*/
footer .contenedor-fondo{
	background-color:#d7dae0;
	float: left;
	width: 100%;
}
footer .titulo-news{
	line-height: 62px;
    font-weight: 700;
    width: 100%;
    display: inline-block;
}
footer .newsletter .btn{
	background-color: #000000;
	border: 1px solid #000000;
	height: 34px;
	float: left;
}
footer .newsletter .email{
	height: 30px;
    width: 259px;
    border:1px solid #000000 ;
    color:#b5b5b7;
    float: left;
}
footer .newsletter-dos{
	line-height: 70px;
	display: inline-block;
	margin-bottom: 15px;
}
/*iconos*/
footer .fa.iconos{
	font-size: 22px;
    width: 4%;
}
footer .fa.sobre{
	color: #ffffff;
}
/*columnas*/
footer .rows{
	display: block;
	text-align: center;
}
footer .columnas{
	display: inline-block;
    width: 24%;
    padding-top: 40px;
}
footer .rows .columnas span{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
footer a{
	text-decoration: none;
	color: #000000;
}
/*imagenes*/
footer .columna-dos{
	display: inline-block;
    padding-top: 95px;
}
/*pie*/
footer .contenedor-fondo-pie{
	background-color: #000000;
	height: 26px;
}
footer .contenedor-fondo-pie span:after{
	content: "\f0c2";
	font: normal normal normal 14px/1 FontAwesome;
 	padding-left: 5px;
 	font-size: 24px;
 	color: white;
 	float: right;
 	width: 10%;
}
footer .contenedor-fondo-pie .titulo-pie{
	color: white;
	font-size: 10px;
	font-weight: 500;
	padding-left: 90px;

}

body {
    display: block;
    margin: 0px;
}

.img-principal{
	width: 100%;
}

.producto{
	display: inline-block;
	float: left;
	width:25%;
}

.productos{
	margin: 20px 0px 20px 0px;
	float: left;
    width: 100%;
}

.producto p{
	font-weight: 700;
}

.precio{
	color: #a25b0d;
	display: inline-block;
}

.secciones{
	margin: 20px 0px 20px 0px;
	float: left;
    width: 100%;
}

.precio-ant{
	display: inline-block;
	margin-left: 15px;
}

.btn-comprar{
    display: block;
    margin: auto;
    background-color: #a25b0d;
    color: white;
    text-transform: uppercase;
    border: 0px;
    line-height: 38px;
    font-weight: 700;
    padding: 1px 48px;
    border-radius: 3px;
}

.secciones img{
	width: 25%;
    float: left;
    height: fit-content;
}